*{
    font-family: 'Edu NSW ACT Foundation';
    color:rgb(34, 34, 34);
}
body{
    min-height:100vh;
}
header{
    text-align: center;
    font-size:2.5rem;
}
.container{
    padding-top:30px;
}

.title{
    text-align: center;
    font-size:1.35rem;
}
.subtitle{
    text-align:center;
    font-size:1.35rem;
}
.game-container{
    display:flex;
    justify-content: center;
    width:60%;
    margin: 0 auto;
    margin-bottom:20px;
}
.player-container{
    margin-right:5px;
}
.computer-container{
    margin-left:5px;
}

.image-container >img{
    max-width:200px;
    min-width:100px;
}
.name{
    text-align: center;
    font-size:1.40rem;
}
.choice-container{
    display:flex;
    justify-content: center;
    width:60%;
    margin: 0 auto;
}
.choice-container > div > img{
    max-width:200px;
    min-width:150px;
}
.choice-container > div > img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.choice-container > div > img:active{
    cursor: pointer;
    transform: scale(0.95);
}
.choice-container > div > p{
    text-align:center;
    margin-top:-15px;
    font-size:1.20rem;
}
.modal{
    display:none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    text-align: center;
    background-color: #fefefe;
    margin:15% auto;
    padding-top:5px;
    padding-bottom:25px;
    border-radius:8px;
    width:15%;
    min-width:250px;
}
#end-message{
    font-size:2.5em;
}
#end-score{
    font-size:2em;
    margin-top:-25px;
}
button{
    font-size:1.10em;
    padding:4px;
}
button:hover{
    cursor: pointer;
}

@media screen and (max-width:420px){
    .choice-container{
        min-width:400px;
    }
    .choice-container > div > img{
        width:150px;
    }
    .modal-content{
        margin:65% auto;
    }
}